body {
    background-color: #0f131a;
    color: #ffffff;
    background: url('../images/bg.JPG');
    font-family: 'Roboto Mono', monospace;
    line-height: 1.4;
    padding: 32px 24px;
}

.header {
    background-color: burlywood;
    margin-bottom: 48px;
    z-index: 99;
}

.header h1 {
   margin-bottom: 16px;
   font-size: 48px;
   
}